<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--客户映射 指定到dao接口 -->
<mapper namespace="com.ht.tohka.usercenter.sysuser.mapper.SysUserMapper">
    <insert id="bindRoles">
        insert into sys_user_role values
        <foreach collection="roleIds" item="item" separator=",">
            (#{sysUserId},#{item})
        </foreach>
    </insert>
    <delete id="unBindRoles">
        delete from sys_user_role where sys_user_id = #{sysUserId}
    </delete>
    <!--id与dao接口的方法名一直，指定结果类型，和参数类型 -->

    <select id="selectByPage" resultType="com.ht.tohka.usercenter.api.sysuser.vo.SysUserVO">
        SELECT id,username,nickname,email,avatar FROM sys_user
        <where>
            <if test="query.nickname != null and query.nickname!=''">
                and nickname like CONCAT("%", #{query.nickname},"%")
            </if>
            <if test="query.username!=null and query.username!=''">
                and username like CONCAT("%",#{query.username},"%")
            </if>
        </where>
    </select>
    <select id="selectByUsername" resultType="com.ht.tohka.usercenter.api.sysuser.entity.SysUser">
        select * from sys_user where username = #{username}
    </select>
</mapper>
